@tailwind base;
@tailwind components;

:root {
    --mainColor: red;
  }
  
button {
  & a {
      color: var(--mainColor)
  }

  @nest &.custom {
      background-color: pink
  }
}
@tailwind utilities;
